.App {
  display: flex;  
  flex-direction: column;  
  justify-content: center; 
  align-items: center;  
  min-height: 100vh; 
  text-align: center; 
  background-color: hsl(63, 86%, 59%);
  padding: 0;  
} 